.hero-unit h1{
	background: none;
}

.hero-unit .buttons{
	margin-top: 100px;
}

.row .span4 p{
	height: 9ex;
}

.buttons{
	text-align: right;
}

.sliderContainer{
	padding: 70px 0 0 0;
	margin-bottom: 70px;
}

.ui-rangeslider{
	margin:0 40px;
}

input.ui-editRangeSlider-inputValue{
	margin:0;
	width: 3em;
	height: auto;
}