.ui-rangeSlider.ui-rangeSlider-dev{
	border:1px solid #DDD;
	height:20px;
	background:#EEE;
}

.ui-rangeSlider.ui-rangeSlider-dev .ui-rangeSlider-handle{
	width:6px;
	height:20px;
	background:#AAA;
	cursor:move;
}

.ui-rangeSlider.ui-rangeSlider-dev .ui-rangeSlider-Bar{
	margin: 0 2px;
	border:1px solid #CCC;
	background:#DDD;
	height:18px;
}