.ui-rangeSlider.ui-rangeSlider-dev{
	border:1px solid #DDD;
	height:20px;
	background:#EEE;
}

.ui-rangeSlider.ui-rangeSlider-dev .ui-rangeSlider-handle{
	width:6px;
	height:20px;
	background:#AAA;
	background:rgba(0,0,0.5);
	cursor:e-resize;
}

.ui-rangeSlider.ui-rangeSlider-dev .ui-rangeSlider-Bar{
	margin: 0 6px;
	border-width:1px 0;
	border-style: solid;
	border-color:#EEE;
	background:#CCC;
	background:rgba(0,0,0, 0.2);
	height:18px;
	cursor:move;
	cursor:grab;
	cursor: -moz-grab;
}

.ui-rangeSlider.ui-rangeSlider-dev .ui-rangeSlider-Bar.ui-draggable-dragging{
	cursor:	-moz-grabbing;
	cursor:grabbing;
}
