.example{
	margin:15px 0;
	padding: 14px 19px;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

pre.afterExample{
	margin-top: 20px;
}

.sliderContainer{
	height: 50px;
	margin-bottom: 50px;
	width: 100%;
}

input[type=number]{
	width:4em;
}

.example input{
	width:3em;
	height: auto;
}

@media (max-width: 992px){
	#tableOfContent ul.affix{
		display: none;
	}
}

#tableOfContent .navcontainer{
	margin-top: 50px;
}

#tableOfContent ul ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#tableOfContent li a{
	display: block;
	line-height: 20px;
	padding: 3px 15px;
	font-weight: normal;
	text-transform: none;
	font-size: 14px;
}

#tableOfContent li.nav-header{
	cursor: pointer;
	font-size: 13px;
}

#carbonads-container{
	margin-left: 15px;
	margin-top: 15px;
}

#tableOfContent li.nav-header span.trigger{
	display: block;
	padding: 3px 15px;
	font-weight: bold;
	font-size: 1.1em;
}

#tableOfContent li a:hover{
	text-decoration: none;
	background-color: #EEE;
}

#tableOfContent li li.active a,
#tableOfContent li li.active a:hover{
	background-color: #08C;
	color:white;
}

