.hero-unit{
	padding-top: 30px;
}

.hero-unit h1{
	background-image: url(../images/jQRangeSlider.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	margin-bottom: 20px;
	margin-top: 0;
	padding-top: 40px;
}

.hero-unit .buttons{
	text-align: center;
	margin-top: 40px;
}

.hero-unit ul.links{
	list-style-type: none;
	text-align: center;
	margin: 20px 0;
}

.hero-unit ul.links li{
	display: inline-block;
	font-size:14px;
	color:#AAA;
	margin: 0 5px;
}

.hero-unit ul.links a{
	color:#666;
	text-shadow: 0 0 10px rgba(255, 255, 255, .25);
}

.thumbnails p{
	height: 90px;
}
.thumbnail p.buttons{
	height: auto; 
	text-align: right;
}