body{
	padding-top:45px;
}

.navbar-fixed-top .navbar-inner{
	padding-left: 20px;
}

.buttons{
	margin:0;
}

footer{
	font-size: 11px;
	color:#888;
	padding: 50px 0;
	margin-top: 50px;
	background-color: #EEE;
	border-radius: 5px;
}

footer p{
	padding:0 50px;
}

footer a{
	color:#6AF;
}

.hero-unit{
	padding-top: 30px;
}

.hero-unit h1{
	margin-bottom: 20px;
	margin-top: 0;
	padding-top: 40px;
}

ul.links{
	list-style-type: none;
	text-align: center;
	margin: 20px 0;
	padding: 0;
}

ul.links li{
	display: inline-block;
	font-size:14px;
	color:#AAA;
	margin: 0 5px;
}

ul.links a{
	color:#666;
	text-shadow: 0 0 10px rgba(255, 255, 255, .25);
}


.buttonsLine{
	margin-top: 20px;
	margin-bottom: 40px;
}


.buttonsLine .buttons{
	margin-top: 44px;
}

.buttonsLine .links{
	margin-bottom: 0;
}

.buttonsLine .buttons,
.buttonsLine .links{
	text-align: right;
}

#carbonads-container{
	margin-left: -15px;
}

.nav a .caret{
    border-top-color: #999;
    border-bottom-color: #999;
}

.nav a:hover .caret{
    border-top-color: white;
    border-bottom-color: white;
}


@media screen and (max-width: 991px){
	.buttonsLine,
	.buttonsLine .buttons,
	.buttonsLine .links{
		text-align: center;
	}

	.buttonsLine .buttons{
		margin-top: 20px;
	}
}