body {
	margin-top: 1.0em;
	background-color: #FFFFFF;
  font-family: "Helvetica,Arial,FreeSans";
	color: #000000;
}
#container {
  margin: 0 auto;
  width: 700px;
}
h1 { font-size: 3.8em; color: #000000; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #000000; }
h3 { text-align: center; color: #000000; }
a { color: #000000; }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
pre { background: #000; color: #fff; padding: 15px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }

ul.features{
	list-style-type:none;
	padding:0;
}

ul.features img{
	margin-right:10px;
	vertical-align:middle;
}

.themes{
	height:130px;
	position: relative;
}

.themes dt,
.themes dd{
	position: absolute;
	width:100px;
	text-align:center;
	padding: 0;
	margin: 0;
}

.themes dt{
	bottom:0;
}

.themes dd{
	top:0;
}

.themes .ithing{
	left:130px;
}
